#page-admin-report-overviewstats-index .chartinfo,
#page-report-overviewstats-index .chartinfo
{
    margin-bottom:1em;
}

.chart-image,
.chart-image {
    width: 100% !important;
}

ul.chartslist {
    padding: 0;
    display: flex;
    gap: 0.5rem;
}
.chartslist li,
.chartslist li{
    list-style: none;
    background: #0f6cbf;
    border-radius: 0.25rem;
    padding: 0.25rem 0.5rem;
}

.chartslist li a,
.chartslist li a{
    color: #f9f8fb;
}